.wrapper {
  background: var(--black);

  &[data-is-show='false'] {
    opacity: 0;
  }
}

.background {
  position: fixed;
  inset: 0;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  position: fixed;
  inset: 0;
}

.rgb {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.box {
  position: relative;
  border: solid var(--white) 1px;
  transition: scale 0.1s;

  canvas {
    display: block;
  }

  [data-beat='true'] & {
    scale: 1.04;
  }
}

.red {
  &[data-is-play='true'] {
    border-width: 4px;
    border-color: var(--red);
    box-shadow: 0 0 8px var(--red);
  }
}

.green {
  &[data-is-play='true'] {
    border-width: 4px;
    border-color: var(--green);
    box-shadow: 0 0 8px var(--green);
  }
}

.blue {
  &[data-is-play='true'] {
    border-width: 4px;
    border-color: var(--blue);
    box-shadow: 0 0 8px var(--blue);
  }
}

.yellow {
  &[data-is-play='true'] {
    border-width: 4px;
    border-color: var(--yellow);
    box-shadow: 0 0 8px var(--yellow);
  }
}

.needle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  &[data-color='r'] {
    border-left: solid var(--red) 1px;
    border-right: solid var(--red) 1px;
  }

  &[data-color='g'] {
    border-left: solid var(--green) 1px;
    border-right: solid var(--green) 1px;
  }

  &[data-color='b'] {
    border-left: solid var(--blue) 1px;
    border-right: solid var(--blue) 1px;
  }

  &[data-color='y'] {
    border-left: solid var(--yellow) 1px;
    border-right: solid var(--yellow) 1px;
  }
}

.button {
  position: fixed;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 16px;
  background: var(--white);
  border-radius: 9999px;
  font-size: 16px;
  font-weight: bold;
  color: var(--black);
  border: none;
  cursor: pointer;
}
