.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background: gray;

  &[data-is-show='false'] {
    opacity: 0;
  }
}

.box {
  position: relative;
  transition: scale 0.1s;

  [data-beat='true'] & {
    scale: 1.04;
  }
}

.needle {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;

  &[data-color='r'] {
    border: solid red 1px;
  }

  &[data-color='g'] {
    border: solid green 1px;
  }

  &[data-color='b'] {
    border: solid blue 1px;
  }

  &[data-color='y'] {
    border: solid yellow 1px;
  }
}
